<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/conf/applicationContext-system.xml,/WEB-INF/conf/applicationContext.xml,/WEB-INF/conf/applicationContext-components.xml</param-value>
	</context-param>
	<filter>
		<filter-name>forbidJsp</filter-name>
		<filter-class>com.gwinsoft.framework.filter.ForbidJspFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>forbidJsp</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
 	-->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>WebAppContext</servlet-name>
		<servlet-class>com.gwinsoft.framework.context.WebAppContext</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>cache</servlet-name>
		<servlet-class>com.gwinsoft.framework.cache.gwincache.CacheServlet</servlet-class>
		<init-param>
			<param-name>cachepath</param-name>
			<param-value>/WEB-INF/conf/cache.xml</param-value>
		</init-param>
		<load-on-startup>8</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>clearCache</servlet-name>
		<servlet-class>com.gwinsoft.framework.cache.gwincache.ClearCacheServlet</servlet-class>
		<init-param>
			<param-name>urls</param-name>
			<param-value>/WEB-INF/conf/cache.xml</param-value>
		</init-param>
		<load-on-startup>8</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>WebTaskInitial</servlet-name>
		<servlet-class>com.gwinsoft.components2.job.WebTaskInitial</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/conf/quartz.properties</param-value>
		</init-param>
		<load-on-startup>8</load-on-startup>
	</servlet>
	<!-- 
	<servlet>
		<servlet-name>JOBS</servlet-name>
		<servlet-class>com.gwinsoft.components.jobs.JobServlet</servlet-class>
		<init-param>
			<param-name>classes</param-name>
			<param-value>com.gwinsoft.components.jobs.ReceiveSmsJob</param-value>
		</init-param>
		<init-param>
			<param-name>crons</param-name>
			<param-value>0 10 0-7,12-13,18-23 * * ?</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	 -->
	<servlet>
		<servlet-name>INITSMS</servlet-name>
		<servlet-class>com.gwinsoft.components.smssh.sms.InitSmsServlet</servlet-class>
		<init-param>
			<param-name>DBURL</param-name>
			<!-- 211.137.19.234:3306/dbadapter?useUnicode=true&amp;characterEncoding=UTF-8 root  tongze@2011-->
			<param-value>jdbc:mysql://localhost:3306/dbadapter?useUnicode=true&amp;characterEncoding=UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>DBUSER</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>DBPASSWORD</param-name>
			<param-value>12345</param-value>
		</init-param>
		<init-param>
			<param-name>MAXCONS</param-name>
			<param-value>1000</param-value>
		</init-param>
		<init-param>
			<param-name>TIMEOUT</param-name>
			<param-value>60</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>clearCache</servlet-name>
		<url-pattern>/clearCache</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PrintService</servlet-name>
		<servlet-class>com.gwinsoft.framework.print.WebPrintServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
		<init-param>
			<param-name>PrintHelperConfigFile</param-name>
			<param-value>/WEB-INF/conf/print/printHelpers.properties</param-value>
		</init-param>
		<init-param>
			<param-name>PrintTemplateConfigFile</param-name>
			<param-value>/WEB-INF/conf/print/printTemplates.properties</param-value>
		</init-param>
	</servlet>
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
		<init-param>
			<param-name>logLevel</param-name>
			<param-value>WARN</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<session-config>
		<session-timeout>300</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>qxglLogin.jsp</welcome-file>
	</welcome-file-list>
</web-app>